* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F4F4;
    color:#333;
}
.site-header{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

#manjaro-logo{
    margin-top: 10px;
}

section{
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

section-title{
    margin-bottom: 15px;
    color: #222;
    border-bottom: 2px solid #ccc;
}

.about-text{
    line-height: 1.6;
}

.project-list{
    list-style: none;
}

.project-item{
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
}

a{
    color: #0077cc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.social-links a{
    margin-right: 10px;
    font-weight: bold;
}

#contact > p{
    padding: 0 0 10px 0;

}

h2{
   padding: 0 0 10px 0; 
}